# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Directorios de producción
dist/
build/

# Archivos de configuración del entorno
.env

# Archivos del editor
.vscode/
*.sublime-workspace
